/* Importing Roboto font with two different weights from Google Fonts. */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');

/* Defining a CSS variable named "shaddow" with multiple shadow values.*/
:root {
    --shaddow:0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
}

/* Styling the body of the document. Setting background color and font family. */
body{
    background-color: rgba(232,233,239,1);
    font-family: 'Roboto', sans-serif;
}

/* Styling a container with the ID of "form-container". Setting dimensions, shadows, colors, padding, border radius and position.*/
#form-container{
    width: 400px;
    box-shadow:var(--shaddow);
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    position: fixed;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}

/* Styling a logo with the ID of "logo". Setting display property, dimensions and auto margin.*/
#logo{
    display: block;
    width: 100px;
    margin: 0 auto;
}

/* Centering the text in a section with the ID of "welcome-message" and setting its bottom margin.*/
#welcome-message{
    text-align: center;
    margin-bottom: 20px;
}

/* Setting the font size for h1 elements inside "welcome-message" section.*/
#welcome-message h1{
    font-size: 36px;
}

/* Styling the paragraph text inside "welcome-message" section.*/
#welcome-message p{
    font-size: 16px;
    color: rgb(97, 98, 105);
    font-weight: 300;
}

/* Setting the bottom margin for form fields.*/
.form-field{
    margin-bottom: 20px;
}

/* Styling labels in form fields.*/
.form-field label{
    font-size: 16px;
    line-height: 1.7em;
}

/* Styling input fields in form fields.*/
.form-field input{
    width: 100%;
    border:2px solid rgba(198,202,219,1);
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    box-sizing: border-box;
}

/* Styling the submit button in form fields.*/
.form-field input[type='submit']{
    background-color: rgb(75, 93, 172);
    border:none;
    color: #fff;
}

/* Media query for screen sizes equal to or less than 450px.
Adjusts the width of the form container and font size of h1 elements inside "welcome-message" section.*
 */
@media screen and (max-width:450px) {
    #form-container{
        width: 95%;
    }

    #welcome-message h1{
        font-size: 24px;
    }

}

/* Styling the room name wrapper.*/
#room-name-wrapper{
    text-align: center;
    font-size: 18px;
}

/* Styling the video streams container.*/
#video-streams{
    display: flex;
    flex-wrap: wrap;
    height: 85vh;
    width: 95%;
    margin:0 auto;
}

/* Styling the individual video containers.*/
.video-container{
    flex-basis: 500px;
    flex-grow: 1;
    max-height: 100%;
    min-height: 350px;
    border: 1px solid rgb(75, 93, 172);
    border-radius: 5px;
    margin: 2px;
    background-color: rgba(198,202,219,1);
    position: relative;
}

/* Styling the video player within each video container.*/
.video-player{
    height: 100%;
    width: 100%;
}

/* Adding border-radius to all child elements of video player.*/
.video-player > * {
    border-radius: 5px;
}

/* Styling the username wrapper.*/
.username-wrapper{
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 9999;
    background-color: rgba(0,0,0,0.3);
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
}

/* Media query for screen sizes equal to or less than 1650px. Adjusts the dimensions of the video containers.*/
@media screen and (max-width:1650px) {
    .video-container{
        flex-basis: 300px;
        min-height: 200px;
    }
}

/* Styling the controls wrapper.*/
#controls-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    column-gap: 1em;
    position: fixed;
    bottom: 20px;
}

/* Styling the control icons.*/
.control-icon{
    height: 20px;
    width: 20px;
    box-shadow: var(--shaddow);
    background-color: #fff;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;

}

/* Styling the leave button.*/
#leave-btn{
    background-color: rgb(255, 80, 80, 1);
}

/* Adding a border to the body of the document.*/
body {
    border: 2px solid black;
}

